<section class="banner wrapper">
    <div class=" banner-flex">
    
    <div class="banner-flex__flex">
        <h1 class="banner-flex__h1">
            Доставка нерудных материалов 24/7 в любой район Москвы и области от 10
        м<sup>3</sup>
        </h1>
       <a href="#mat">
        <button class=" banner-flex__btn">
            Материалы
        </button>
       </a>
    </div>
    
    <div class="banner-flex__imeg">
        <img src="img/mater.jpg" class="banner-flex__imeg_img" alt="Фото комнатного цветка">
    </div>
    
   
    
    </div>
        
    </section>