<section class="banner">
    <div class="wrapper banner-door">
    
    <div class="banner-door__door">
        <h1 class="banner-door__h1">
            Доставка нерудных материалов 24/7 в любой район Москвы и области от 10
        м<sup>3</sup>
        </h1>
       <a href="#mat">
        <button class=" banner-door__btn">
            Материалы
        </button>
       </a>
    </div>
    
    <div class="banner-door__plant">
        <img src="img/mater.jpg" class="banner-door__plant_img" alt="Фото комнатного цветка">
    </div>
    
   
    
    </div>
        
    </section>