<!-- <div class="line animation animate__fadeInUp "></div> -->

<footer class="footer wrapper animation animate__fadeInUp ">
    <!-- <div class=" footer-logo">
        <a href="index.html" class="footer-logo__link">
        <img
            src="img/Camomile.png"
            alt="Company logo"
            class="footer-logo__logo"
        />
        </a>
    </div>

    <div class="footer-navigation">
        <nav class=" footer-navigation__items">
            <ul class="footer-navigation__items_links ul-reset">
                <li class="footer-navigation__items_link">
                <a href="#">About Us </a>
                </li>
                <li class="footer-navigation__items_link">
                <a href="#">Delivery </a>
                </li>
                <li class="footer-navigation__items_link">
                <a href="#">Contact Us</a>
                </li>
                <li class="footer-navigation__items_link">
                <a href="#">Privacy Policy</a>
                </li>
            </ul>
        </nav>
    </div>
        
    <div class="footer-user">
        <ul class="footer-user__links ul-reset">
            <li class="footer-user__links_user_item">
            <a href="#"> Fb </a>
            </li>
            <li class="footer-user__links_user_item">
            <a href="#"> Tw </a>
            </li>
            <li class="footer-user__links_user_item">
            <a href="#"> In </a>
            </li> 
        </ul>
    </div> -->
  
</footer>
<script 
src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script src="./js/js.js"></script>
</body>
</html>