<header class="wrapper ">
  <div class="main-header">
    <div class="main-header-logo">
        <a href="index.html" class="main-header-logo__link">
          <img src="/img/logo.png" alt="" />
          <span class="main-header-logo__link_txt">Пилигрим Карго</span>
        </a>
      </div>
    
      <div class="main-header-nav">
        <nav class="main-header-nav__items">
          <ul class="main-header-nav__links ul-reset">
            <li class="main-header-nav__links_link">
              <a href="#mat">Материалы</a>
            </li>
            <li class="main-header-nav__links_link">
              <a href="#">Доставка и оплата</a>
            </li>
            <li class="main-header-nav__links_link">
              <a href="#">Контакты</a>
            </li>
            <li class="main-header-nav__links_link">
              <a href="#">Вакансии</a>
            </li>
          </ul>
        </nav>
      </div>
    
      <div class="main-header-searh">
        <nav class="main-header-searh__items">
          <ul class="main-header-searh__user ul-reset">
            <li class="main-header-searh__user_item">
              <a href="#">{% include 'parts/svgo/ico-phone.svg' %}</a>
            </li>
            <li class="main-header-searh__user_phone">
              <a href="tel:+74951234567"> +7(495) 123-45-67 </a>
            </li>
            
          </ul>
        </nav>
      </div>
  </div>
</header>
