<header class="">
  <div class="main-header wrapper ">
    <div class="main-header-logo">
        <a href="index.html" class="main-header-logo__link">
          <img src="/img/logo.png" alt="" />
          <span class="main-header-logo__link_txt">Пилигрим Карго</span>
        </a>
      </div>
    
      <div class="main-header-nav">
        <nav class="main-header-nav__items">
          <ul class="main-header-nav__links ul-reset">
            <li class="main-header-nav__links_link select">
              <div class="select__selectlink"> 
                <div class="selectlink-control">Материалы</div>
                <ul>
                  <li><a href="">Щебень</a></li>
                  <li><a href="">Песок</a></li>
                  <li><a href="">ЩПС</a></li>
                  <li><a href="">ПГС</a></li>
                  <li><a href="">Отсев</a></li>
                  <li><a href="">Керамзит</a></li>
                  
                </ul>
              </div>
            </li>
            <li class="main-header-nav__links_link">
              <a href="#">Доставка и оплата</a>
            </li>
            <li class="main-header-nav__links_link">
              <a href="#">Контакты</a>
            </li>
            <li class="main-header-nav__links_link">
              <a href="#">Вакансии</a>
            </li>
            
          </ul>
        </nav>
      </div>
    
      <div class="main-header-phone">
        <nav class="main-header-phone__items">
          <ul class="main-header-phone__user ul-reset">
            <li class="main-header-phone__user_item">
              <a href="#">{% include 'parts/svgo/ico-phone.svg' %}</a>
            </li>
            <li class="main-header-phone__user_phone">
              <a href="tel:+74951234567"> +7(495) 123-45-67 </a>
            </li>
            
          </ul>
        </nav>
      </div>
  </div>
</header>
