<main class="wrapper animation animate__fadeInUp">
  <!-- <h2>Материалы</h2> -->
  <section class="material">
    <h2 class="material__h" id="mat">Материалы</h2>
    <div class="row">
      <div class="material__block">
        <div class="material__block_img">
          <img src="img/щебень.jpg" alt="Photos of potted indoor flowers" />
        </div>
        <div class="material__block_text">Щебень</div>
        <div class="material__block_price">от 1300</div>
      </div>
      <div class="material__block">
        <div class="material__block_img">
          <img src="img/pesok.jpg" alt="Photos of potted indoor flowers" />
        </div>
        <div class="material__block_text">Песок</div>
        <div class="material__block_price">от 1300</div>
      </div>
      <div class="material__block">
        <div class="material__block_img">
          <img src="img/щпс1.jpg" alt="Photos of potted indoor flowers" />
        </div>
        <div class="material__block_text">ЩПС</div>
        <div class="material__block_price">от 1300</div>
      </div>
      <div class="material__block">
        <div class="material__block_img">
          <img src="img/пгс.jpeg" alt="Photos of potted indoor flowers" />
        </div>
        <div class="material__block_text">ПГС</div>
        <div class="material__block_price">от 1300</div>
      </div>
      <div class="material__block">
        <div class="material__block_img">
          <img src="img/отсев.jpg" alt="Photos of potted indoor flowers" />
        </div>
        <div class="material__block_text">Отсев</div>
        <div class="material__block_price">от 1300</div>
      </div>
      <div class="material__block">
        <div class="material__block_img">
          <img src="img/keramzit.jpg" alt="Photos of potted indoor flowers" />
        </div>
        <div class="material__block_text">Керамзит в мешках</div>
        <div class="material__block_price">от 1300</div>
      </div>
    </div>
  </section>
  
    
</main>
