<main class="wrapper animation animate__fadeInUp"  id="mat">
  <!-- <h2>Материалы</h2> -->
  <section class="material">
    <h2 class="material__h" >Материалы</h2>
    <div class="row">
      <div class="material__block">
        <div class="material__block_img">
          <img src="img/щебень.jpg" alt="Фотография щебня" />
        </div>
        <div class="material__block_text">Щебень</div>
        <div class="material__block_price">от 1300 &#8381; </div>
      </div>
      <div class="material__block">
        <div class="material__block_img">
          <img src="img/pesok.jpg" alt="Фотография песка" />
        </div>
        <div class="material__block_text">Песок</div>
        <div class="material__block_price">от 1300 &#8381; </div>
      </div>
      <div class="material__block">
        <div class="material__block_img">
          <img src="img/щпс1.jpg" alt="Фотография ЩПС" />
        </div>
        <div class="material__block_text">ЩПС</div>
        <div class="material__block_price">от 1300 &#8381; </div>
      </div>
      <div class="material__block">
        <div class="material__block_img">
          <img src="img/пгс.jpg" alt="Фотография ПГС" />
        </div>
        <div class="material__block_text">ПГС</div>
        <div class="material__block_price">от 1300 &#8381; </div>
      </div>
      <div class="material__block">
        <div class="material__block_img">
          <img src="img/отсев.jpg" alt="Фотография отсев" />
        </div>
        <div class="material__block_text">Отсев</div>
        <div class="material__block_price">от 1300 &#8381; </div>
      </div>
      <div class="material__block">
        <div class="material__block_img">
          <img src="img/keramzit.jpg" alt="Фотография керамзит" />
        </div>
        <div class="material__block_text">Керамзит</div>
        <div class="material__block_price">от 1300 &#8381; </div>
      </div>
    </div>
  </section>
</main>