<main class="wrapper animation animate__fadeInUp" id="mat">
  <!-- <h2>Материалы</h2> -->
  <section class="material">
    <h2 class="material__h">Материалы</h2>
    <div class="row">
      <a href="#" class="material__block material__block_img1">
        <div class="material__block_text">Щебень</div>
        <div class="material__block_price">от 1300 &#8381;</div>
      </a>
      <a href="#" class="material__block material__block_img2">
        <div class="material__block_text">Песок</div>
        <div class="material__block_price">от 1300 &#8381;</div>
      </a>
      <a href="#" class="material__block material__block_img3">
        <div class="material__block_text">ЩПС</div>
        <div class="material__block_price">от 1300 &#8381;</div>
      </a>
      <a href="#" class="material__block material__block_img4">
        <div class="material__block_text">ПГС</div>
        <div class="material__block_price">от 1300 &#8381;</div>
      </a>
      <a href="#" class="material__block material__block_img5">
        <div class="material__block_text">Отсев</div>
        <div class="material__block_price">от 1300 &#8381;</div>
      </a>
      <a href="#" class="material__block material__block_img6">
        <div class="material__block_text">Керамзит</div>
        <div class="material__block_price">от 1300 &#8381;</div>
      </a>
    </div>
  </section>
</main>
