<section class="wrapper animation animate__fadeInUp">
  <div class="row">
    

      <div class="work img-truck">
        <p class="work__txt">Оперативная доставка в день заказа</p>
        <div class="work__icon">{% include 'parts/svgo/24-hours.svg' %}</div>
      </div>

      <div class="work img-calck">
        <p class="work__txt">Все материалы по ГОСТ</p>
        <div class="work__icon">{% include 'parts/svgo/contract.svg' %}</div>
      </div>

      <div class="work img-manWhite">
        <p class="work__txt">
          Доставка самосвалами от 10 до 34 м<sup>3</sup>
        </p>
        <div class="work__icon">{% include 'parts/svgo/tipper.svg' %}</div>
      </div>

      <div class="work img-manRed">
        <p class="work__txt">Свой автопарк машин</p>
        <div class="work__icon">{% include 'parts/svgo/truck.svg' %}</div>
      </div>

    
  </div>
</section>
