<aside class="wrapper animation animate__fadeInUp ">
  <div class="row">
    <div class="work">
      <div class="work-wrap">
        <img src="img/truck.jpg" alt="Фотография эскаватор" class="work__img" />
        <div class="work__txt">Оперативная доставка в день заказа</div>
        <div class="work__icon">{% include 'parts/svgo/24-hours.svg' %}</div>
      </div>
      <div class="work-wrap">
        <img src="img/photo_calck.jpg" alt="Фотография документов" class="work__img" />
        <div class="work__txt">Все материалы по ГОСТ</div>
        <div class="work__icon">{% include 'parts/svgo/contract.svg' %}</div>
      </div>
    </div>
    <div class="work">
      <div class="work-wrap">
        <img src="img/manWhate.jpg" alt="Фотография самосвала" class="work__img" />
        <div class="work__txt">
          Доставка самосвалами от 10 до 34 м<sup>3</sup>
        </div>
        <div class="work__icon">{% include 'parts/svgo/tipper.svg' %}</div>
      </div>
      <div class="work-wrap">
        <img src="img/manRed.jpg" alt="Фотография самосвалов MAN" class="work__img" />
        <div class="work__txt">Свой автопарк машин</div>
        <div class="work__icon">{% include 'parts/svgo/truck.svg' %}</div>
      </div>
    </div>
  </div>
</aside>
